name: Validate terraform
on:
  pull_request:
    branches:
      - main
      - master

permissions:
  id-token: write
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate Terraform Code
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Configure terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.2.4

      - name: Initialize terraform
        working-directory: ./infrastructure
        run: terraform init

      - name: Fetch changed files
        id: pr_files
        uses: jitterbit/get-changed-files@v1
        with:
          format: "space-delimited"

      - name: Validate terraform fmt on changed files
        run: |
          set +e
          echo "CHECK_STATUS=0" >> $GITHUB_ENV
          for changed_file in ${{ steps.pr_files.outputs.added_modified }}; do
            echo "Checking terraform fmt on ${changed_file}..."
            if [[ $changed_file == *.tf ]]; then
              terraform fmt -check $changed_file
              FMT_STATUS=$(echo $?)
              if [[ $FMT_STATUS -ne 0 ]]; then
                echo "âŒ terraform fmt failed - ${changed_file}" >> $GITHUB_STEP_SUMMARY
                echo "CHECK_STATUS=1" >> $GITHUB_ENV
              fi
            fi
          done

      - name: Fail job if formatting check failed
        run: |
          if [ "${{ env.CHECK_STATUS }}" -ne 0 ]; then
            echo "Formatting errors detected, failing the job."
            exit 1
          fi

      - name: Run terraform validate on the entire project
        working-directory: ./infrastructure
        run: terraform validate
